<%- include('./parts/header.ejs'); %>
    <!-- HEADER DESKTOP-->
    <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__logo">
                    <a href="#">
                        <img src="images/icon/medihublogo-white.png" alt="MediHub" />
                    </a>
                </div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li class="has-sub">
                            <a href="/">
                                <i class="zmdi zmdi-account-circle"></i>Home
                                <span class="bot-line"></span>
                            </a>
                        </li>
                        <li class="has-sub">
                            <a href="/about">
                                <i class="zmdi zmdi-account-circle"></i>About
                                <span class="bot-line"></span>
                            </a>
                        </li>
                        <li class="has-sub">
                            <a href="/login">
                                <i class="zmdi zmdi-account-circle"></i>Login
                                <span class="bot-line"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/register">
                                <i class="zmdi zmdi-account-add"></i>
                                <span class="bot-line"></span>Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- HEADER MOBILE-->
    <header class="header-mobile header-mobile-2 d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="/">
                        <img src="images/icon/medihublogo-white.png" alt="MediHub" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="has-sub">
                        <a href="/">
                            <i class="zmdi zmdi-account-circle"></i>Home</a>
                    </li>
                    <li class="has-sub">
                        <a href="/about">
                            <i class="zmdi zmdi-account-circle"></i>About</a>
                    </li>
                    <li class="has-sub">
                        <a href="/login">
                            <i class="zmdi zmdi-account-circle"></i>Login</a>
                    </li>
                    <li>
                        <a href="/register">
                            <i class="zmdi zmdi-account-add"></i>
                            <span class="bot-line"></span>Signup</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="page-content--bgf7">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="typo-headers">

                                <h3 class="pb-2 display-5 text-center font-italic">Vision</h3>

                            </div>
                            <div class="row justify-content-center typo-articles">
                                <p class="col-lg-6 col-md-6 col-sm-12 col-12 font-italic" style="padding: 0 15px;">
                                    &emsp; &emsp; To create a network between the Users and Medical Shop owners, To
                                    increase
                                    the
                                    demand and supply of the medicines, To help customers get their medicines on time,
                                    our app exceptionally maintain the relationship between Users and Chemist.
                                </p>

                            </div>

                            <div class="typo-headers" style="margin-top: 50px;">

                                <h3 class="pb-2 display-5 text-center font-italic">Mission</h3>

                            </div>
                            <div class="row justify-content-center typo-articles">
                                <p class="col-lg-6 col-md-6 col-sm-12 col-12 font-italic" style="padding: 0 15px;">
                                    &emsp; &emsp; Our Aim is to improve health and wellness of our User. We empower our
                                    users health
                                    as we believe “Health is the ultimate
                                    wealth”.
                                    As the technology is improvising day-by-day, we tend to innovate for a cause. Our
                                    primary focus is the build a healthy
                                    relationship between User and Chemist. We also focus on increasing Medical Shops
                                    turnover exponentially.

                                </p>

                            </div>
                            <div class="typo-headers" style="margin-top: 50px;">

                                <h3 class="pb-2 display-5 text-center font-italic">Values</h3>

                            </div>
                            <div class="row justify-content-center typo-articles">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 font-italic" style="padding: 0 15px;">

                                    <ul>
                                        <li>
                                            Helping hand to our valuable Users.
                                        </li>
                                        <li>
                                            24x7 delivery at your doorstep.
                                        </li>
                                        <li>
                                            Refund policy, is medicines are not delivered as per order.
                                        </li>
                                        <li>
                                            Accurate Locations of the Medical Shops listed
                                        </li>
                                        <li>
                                            24x7 Customer support
                                        </li>


                                    </ul>
                                </div>

                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./parts/footer.ejs'); %>